:root {
    font-family: "Alice", serif;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: justify;
    }

    section img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

#page {
    box-sizing: border-box;
    border: solid;
    border-radius: 28px;
    max-width: 800px;  /* Mantém um limite no PC */
    width: 100%; /* Ajusta para telas menores */
    margin: 24px auto;
    padding: 10px 20px;
    background-color: white;
}

body {
    background-color: rgb(110, 1, 1);
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    text-transform: capitalize;
}

header p {
    text-align: center;
}

p {
    font-size: 20px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
  }

img {
    width: 100%; /* Agora todas as imagens ficam responsivas */
    object-fit: cover;
    border-radius: 26px;
    max-width: 600px; /* Para não ultrapassar no PC */
    display: block;
    margin: 0 auto;
}

section img {
    width: 100%; /* Agora as imagens dentro das sections também se ajustam */
    max-width: 100%;
    height: auto;
}

header img {
    height: 500px;
}

section#03agosto img {
    height: 500px;
}

section#pedido p {
    text-align: center;
}

.final {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    text-transform: uppercase;
}